<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300;400;500&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/css/reset.css">
	<link rel="stylesheet" href="/css/header.css">
	<link rel="stylesheet" href="/css/blog.css">
</head>

<body>
	<!-- Header Start -->
	<header class="site-header">
		<div class="wrapper site-header__wrapper">
			<div class="site-header__start">
				<a href="#" class="brand">ログインした人のユーザー名が入ります</a>
			</div>
			<div class="site-header__end">
				<nav class="nav">
					<button class="nav__toggle" aria-expanded="false" type="button">
						menu
					</button>
					<ul class="nav__wrapper">
                        <li class="nav__item"><a href="/user/blog/list">Home</a></li>
                        <li class="nav__item"><a href="/user/blog/register">Blog Register</a></li>
                          <li class="nav__item"><a href="/user/blog/delete/list">Delete List</a></li>
                        <li class="nav__item"><a href="/user/blog/logout">Logout</a></li>
                    </ul>
				</nav>
			</div>
		</div>
	</header>
    <main>
        <section class="lesson-fix-section">
            <div class="lesson-fix-box">
                <h2>記事の削除が完了しました</h2>
                 <div class="menu-link">
                    <a href="/user/blog/list">&nbsp;&nbsp;&nbsp;&laquo;&nbsp;メニューへ戻る</a>
                </div>
            </div>
        </section>
    </main>
    <footer id="footer">
        <p class="copyright">Copyright &copy; 2022 Learner All Rights Reserved.</p>
    </footer>
</body>

</html>