<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300;400;500&display=swap" rel="stylesheet">
	<link rel="stylesheet" th:href="@{/css/reset.css}">
	<link rel="stylesheet" th:href="@{/css/header.css}">
	<link rel="stylesheet" th:href="@{/css/blog.css}">
</head>

<body>
<!-- Header Start -->
	<header class="site-header">
		<div class="wrapper site-header__wrapper">
			<div class="site-header__start">
				<a href="#" class="brand">ログインした人のユーザー名が入ります</a>
			</div>
			<div class="site-header__end">
				<nav class="nav">
					<button class="nav__toggle" aria-expanded="false" type="button">
						menu
					</button>
					<ul class="nav__wrapper">
                        <li class="nav__item"><a th:href="@{/user/blog/list}">Home</a></li>
                        <li class="nav__item"><a th:href="@{/user/blog/register}">Blog Register</a></li>
                          <li class="nav__item"><a th:href="@{/user/blog/delete/list}">Delete List</a></li>
                        <li class="nav__item"><a th:href="@{/user/blog/logout}">Logout</a></li>
                    </ul>
				</nav>
			</div>
		</div>
	</header>
	<!-- Header End -->
    <main>
        <section class="lesson-register-section">
            <h2>記事編集</h2>
            <div class="register-form">
                <div class="register-input">
                    <div>画像</div>
                   <img src="">
                </div>
                <div class="register-button">
                    <button class="change">変更画面へ</button>
                </div>
                <form th:action="@{/user/blog/update}" method="post">
                    <div class="register-input">
                        <div>タイトル</div>
                        <input type="text" name="blogTitle" value="">
                    </div>
                    <div class="register-input">
                        <div>日付</div>
                        <input type="date" name="registerDate" value="">
                    </div>
                    <div class="register-input">
                        <div>カテゴリ</div>
                        <input type="text" name="category" value="">
                    </div>
                    <div class="register-input">
                        <div>詳細</div>
                        <textarea name="blogDetail" id="" cols="30" rows="10"></textarea>
                    </div>
                    <input type="hidden" name="blogId" value="">
                    <div class="register-button">
                        <button class="change">変更</button>
                        <button class="back" type="button" onclick="history.back();">戻る</button>
                    </div>
                </form>
            </div>
        </section>
    </main>
    <footer id="footer">
        <p class="copyright">Copyright &copy; 2022 Learner All Rights Reserved.</p>
    </footer>
</body>

</html>